page-search {
  .label h2 {
    font-size: 2rem;
    margin-bottom: 6px;
  }

  .label p {
    font-size: 1.6rem;
    margin-bottom: 6px;
  }

  .github-popularity {
    margin-bottom: 6px;
  }

  .chip {
    margin-right: 6px;
  }
}
