<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-label text-wrap>
        <span color="primary">
          <h2>{{item.owner.login}} / {{item.name}}</h2>
        </span>
        <div class="github-popularity">
          <ion-icon name="star"></ion-icon> {{item.stargazers_count | unitySuffix }}
          <ion-icon name="git-network"></ion-icon> {{item.forks | unitySuffix }}
        </div>
        <p [innerHtml]="parseItemDescription(item) | safe: 'html'"></p>
        <span color="secondary">
          <ion-chip *ngFor="let topic of item.topics | slice:0:6">
            <ion-label>{{topic}}</ion-label>
          </ion-chip>
        </span>
      </ion-label>
    </button>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>